h1 {
    text-align: center;
    padding-bottom: 40px;
}

.content-form-apt {
    // max-width: 640px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #e1e1e1;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

    .col-left {
        border-right: 1px solid #e1e1e1;
    }

    .required-check {
        color: red;
        padding-bottom: 18px;
    }

    .required-check-text {
        font-size: 16px;
        font-weight: 800;
    }

    .form-label {
        font-weight: 800;
    }


    .form-check {
        display: inline-block;
        margin-right: 20px;
    }

    .btn-content {
        padding-top: 20px;

        .btn-apt {
            width: 100%;
        }
    }

    .media-upload {
        .form-control {
            padding: 0;
            height: auto;
        }

    }
}