h1 {
    text-align: center;
    padding-bottom: 40px;
}

.content-form-apt {
    // max-width: 640px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #e1e1e1;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

    .col-left {
        border-right: 1px solid #e1e1e1;
    }

    .required-check {
        color: red;
        padding-bottom: 18px;
    }

    .required-check-text {
        font-size: 16px;
        font-weight: 800;
    }

    .form-label {
        font-weight: 800;
    }

    .toogle-bb {
        display: block;
        position: relative;
        background: none;
        margin: 0 0 0.5em 0;
        /* width: 100%; */
        /* height: calc(1.6em + 0.75rem + 2px); */
        /* padding: 0.375rem 0.75rem;
        font-size: 0.9rem;
        font-weight: 400;
        line-height: 1.6;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s */

        input {
            opacity: 0;

            + label:before {
                box-sizing: border-box;
                position: absolute;
                top: 0.25em;
                left: 1px;
                content: '';
                width: 70px;
                height: 34px;
                transition: background-color 0.4 ease;
                border-radius: 70px;
                box-shadow: inset 2px 2px 8px rgba(255, 56, 96, 10%),
                inset -2px -2px 8px rgba(255, 56, 96, 40%);
                
            }

            + label:after {
                box-sizing: border-box;
                position: absolute;
                top: 5px;
                left: 3px;
                width: 30px;
                height: 30px;
                content: '';
                cursor: pointer;
                background-color: #ebebeb;
                border-radius: 500rem;
                box-shadow:5px 5px 12px #bdbdbd, 0px 0px 0px #ebebeb;
                transition: transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
            }

            &:checked + label:before {
                background: rgba(255, 56, 96, 60%);
                box-shadow: inset 2px 2px 8px rgba(255, 56, 96, 10%),
                inset -2px -2px 8px rgba(255, 56, 96, 40%);    
            }

            &:checked + label:after {
                transform: translateX(36px);
                background: linear-gradient(145deg, #a5344a, #e74565);
                box-shadow: inset 2px 2px 8px rgba(255, 56, 96, 10%),
                inset -2px -2px 8px rgba(255, 56, 96, 40%);    
            }

            
        }

        label {
            h6 {
                position: absolute;
                top: 13px;
                left: 40px;
                font-size: 12px;
                font-weight: bold;
                color: #aaaaaa;
                /* text-shadow: 0px 2px 0px #f6f6f6; */
            }

            h5 {
                position: absolute;
                top: 13px;
                left: 10px;
                font-size: 12px;
                font-weight: bold;
                color: $primary-color;
                /* text-shadow: 0px 2px 0px #ff3860; */
            }
        }
    }
   



    .form-check {
        display: inline-block;
        margin-right: 20px;
    }

    .btn-content {
        padding-top: 20px;

        .btn-apt {
            width: 100%;
        }
    }

    .media-upload {
        .form-control {
            padding: 0;
            height: auto;
        }
    }

    .upgrade-photo {
        padding-top: 20px;

        img {
            border-radius: 10px;
            box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
        }
    }
}

@media screen and (max-width: 991.98px) {
    .col-left {
        border-right: none !important;
    }
    
}