.ura_header{
  height: 60px;
  font-size: 18px;
  
  .nav_menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin: 0 20px;

    .ul_links{
      display: flex;
      list-style-type: none;
      justify-content: space-between;


      li{
        margin-inline: 5px;
        padding-block: 7px;
        padding-inline: 15px; 
      }
      li:hover{
        background-color: lightblue;
        border-radius: 24px;
      }
    }
  }
  
  figure{
    width: 30px;
    height: 20px;

    img {
      width: 100%;
    }
  }

}
