.no-house{
  display: flex;
  img{
    width: 50%;
    height: 600px;
  }

  .text{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 50%;
    color: white;
    text-align: center;

    a{
      margin-top: 20px;
    }
  }
}
