.apartment {
    display: flex;
    margin-bottom: 30px;

        img {
            border-radius: 15px;
        }

        .right-part {
            margin-left: 15px;

            .info {
                margin: 10px 0;
            }

            .delete {
                margin-top: 15px;
            }
        }

    
}