.register_header {
    height: 80px;
    font-size: 1.25rem;
    .nav-item{
        
    }
}

.artisanMain {

    .card {
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    
        .card-header {
            text-align: center;
        }
    }
}
