.register {
    padding: 50px 0;
    background-image: url(data:image/webp;base64,UklGRoQCAABXRUJQVlA4WAoAAAAgAAAAHQAAHQAASUNDUAwCAAAAAAIMbGNtcwIQAABtbnRyUkdCIFhZWiAH3AABABkAAwApADlhY3NwQVBQTAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA9tYAAQAAAADTLWxjbXMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAApkZXNjAAAA/AAAAF5jcHJ0AAABXAAAAAt3dHB0AAABaAAAABRia3B0AAABfAAAABRyWFlaAAABkAAAABRnWFlaAAABpAAAABRiWFlaAAABuAAAABRyVFJDAAABzAAAAEBnVFJDAAABzAAAAEBiVFJDAAABzAAAAEBkZXNjAAAAAAAAAANjMgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAB0ZXh0AAAAAEZCAABYWVogAAAAAAAA9tYAAQAAAADTLVhZWiAAAAAAAAADFgAAAzMAAAKkWFlaIAAAAAAAAG+iAAA49QAAA5BYWVogAAAAAAAAYpkAALeFAAAY2lhZWiAAAAAAAAAkoAAAD4QAALbPY3VydgAAAAAAAAAaAAAAywHJA2MFkghrC/YQPxVRGzQh8SmQMhg7kkYFUXdd7WtwegWJsZp8rGm/fdPD6TD//1ZQOCBSAAAAUAMAnQEqHgAeAD7ZYKpOtiWooygKqsAbCWQAnTLfAiGYXfAA/uw/rDUG/ySry930W5TklUCdPGwZvhShkxmlA5XTMUKtCBVuol3YS6MrvY4AAA==);
    background-repeat: repeat;
    background-size: cover;

    .container {
        display: flex;

        h1 {
            padding: 0;
            text-align: left;
        }

        .text {
            width: 30%;
            text-align: center;
            color: white;
        }
    
        .r-button {
            width: 70%;
            display: flex;
            justify-content: right;
            align-items: center;
            
            a {
                font-size: 20px;
            }
        }
    }

}
.apartment-container {
    .apartment {
        display: flex;
        margin-bottom: 30px;
    
            img {
                border-radius: 15px;
            }
    
            .right-part {
                margin-left: 15px;
                display: flex;
                flex-direction: column;
                justify-content: center;
    
                .services {
                    margin: 10px 0;
                }
    
                .delete {
                    margin-top: 15px;
                }
            }
    
    }

    .info {
        margin: 10px 0;
        margin: 0 auto;
        width: 80%; 

        a {
            margin-right: 20px;
        }
    }
}

.banner {
    background-color: #ff385c;
    margin-top: 60px;
    border-radius: 20px;
    padding: 50px 30px;
    color: white;

    h2 {
        font-weight: 600;
        font-size: 35px;
    }

    p {
        font-size: 22px;
    }
}

.ms-btn {
    background-color: $primary_color;
    color: white;
}


