h2{
    font-size: 35px;
}
.apartment-container {

    .apartment{
        display: flex;
        justify-content: center;

        .col-apartment{
            width: 100%;
            
            img{
                aspect-ratio: 16/9;
                border-radius: 20px;  
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    .apartment-container {

        .apartment{
            display: block;
            .col-apartment{
                width: 100%;
            }
        }
    }
}
.banner {
    background-color: #ff385c;
    margin-top: 60px;
    border-radius: 20px;
    padding: 50px 30px;
    color: white;

    h2 {
        font-weight: 600;
        font-size: 35px;
    }

    p {
        font-size: 22px;
    }
}

